<h1 class="my-3">Selectores anidados</h1>

<hr>

<form action="" [formGroup]="myForm">
    <div class="row mb-3">
        <div class="col">
            <label for="" class="form-label">Continente:</label>
            <select formControlName="region" class="form-control">
                <option value="">Seleccione continente:</option>
                <option *ngFor="let region of regions" [value]="region">{{region}}</option>
            </select>
        </div>
    </div>

    <div class="row mb-3" *ngIf="countrieByRegion.length>0">
        <div class="col">
            <label for="" class="form-label">Pais:</label>
            <select formControlName="countries" class="form-control">
                <option value="">Seleccione un pais:</option>
                <option *ngFor="let country of countrieByRegion" [value]="country.cca3">{{country.name}}</option>
            </select>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            <label for="" class="form-label">fronteras:</label>
            <select formControlName="border" class="form-control">
                <option value="">Seleccione un fronteras:</option>
                <option *ngFor="let country of countrieByRegion" [value]="country.cca3">{{country.name}}</option>
            </select>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<code>
    {{myForm.value | json}}
</code>


<p>Valido: {{myForm.valid}}</p>